*{
	margin: 0;
	padding: 0;

}

body{
	background: #272727;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
}

.field-cell{
	border: 1px solid #fff;
	margin: 1px;
	height: 25px;
	width: 25px;
}

.snake-cell{
	background: green;
}

.food-cell{
	background: red;
	
}

#score{
	color: yellow;
	font-size: 22px;
}

#gameMap{
	margin: 20px auto;
}